<div   align="center" class="container">
  <img src="http://orig11.deviantart.net/3009/f/2013/260/5/4/drew_angel_from_castle_clash_by_starandcake-d6mnqgg.png" class="img-fluid">
  <h1 style="font-family: cursive;color: #014c8c" >ESCUELA POLITECNICA NACIONAL</h1>
  <h1 style="font-family: cursive;color: #014c8c">T-W-J</h1>
  <h1 style="font-family: cursive;color: #014c8c">BIENVENIDO</h1>
  <h2 style="font-family: cursive;color: #014c8c">CARGAR JUEGO</h2>
  <button style="color:black" class="btn btn-outline-success" (click)="cargarJuego()">Cargar juegos</button>

  <div class="row">
    <div align="left" class="col-md-4"
         *ngFor="let juego of juegos">

      <app-juego [juego]="juego"></app-juego>

    </div>
  </div>
</div>
