<div  class="container">

  <h1 style="color: white">Nombre:{{juego.name}}</h1>
  <p>idName:{{juego.idName}}</p>
  <p>Tipo:{{juego.type}}</p>
  <p>Raresa:{{juego.rarity}}</p>
  <p>Orden:{{juego.order}}</p>
  <!--<h1 style="color: green"><b>Nombre del juego:</b> {{juego.id}}</h1>
  <p style="color: white"><b>Periodo de rotacion:</b> {{juego.name}}<br>
    <b>Periodo Orbital:</b> {{juego.idName}}<br>
    <b>Diametro:</b> {{juego.rarity}}<br>
    <b>Clima:</b>{{juego.type}}<br>
    <b>Gravedad:</b> {{juego.description}}<br>
    <b>Terreno:</b> {{juego.arena}}<br>
  </p>-->

</div>
