<div class="container">
  <br>
  <h1 style="text-align: center;color: #014c8c">Registro de Borrachos</h1>
  <br>
  <br>

  <div class="row">

    <div class="col-sm-6" >

      <div class="form-group" >

        <label  class="col-form label"><strong>Nombre</strong></label>
        <input  class="form-control"
                placeholder="Ingrese nombre"
                [(ngModel)]="nuevoBorracho.Nombre" type="text">
        <label  class="col-form label"><strong>Motivo</strong></label>
        <input  class="form-control"
                placeholder="Ingrese motivo"
                [(ngModel)]="nuevoBorracho.Motivo" type="text">
        <label  class="col-form label"><strong>Longitud de Borracho</strong></label>
        <input  class="form-control"
                placeholder="longitud donde se emborracho"
                [(ngModel)]="nuevoBorracho.LongitudDondeEmpezo" type="text">
        <label  class="col-form label"><strong>Latitud:</strong></label>
        <input  class="form-control"
                placeholder="latitud donde se emborracho"
                [(ngModel)]="nuevoBorracho.LatitudDondeEmpezo" type="number">

      </div>

      <button type="button" class="btn btn-primary" (click)="crearBorracho()" >Crear Borracho</button>

    </div>
  </div>
  <hr>

  <h3>Usarios Borrachos</h3>

  <hr>


<div class="row-col-sm-12">
  <div   class="col-md-4" *ngFor="let borrachin of borracho;let indice = index;">

    <div style="background-color: #d0d5d8" class="row">

      <div class="col-md-10">
        <h4>{{borrachin.Nombre}}
        </h4>
      </div>

    </div>
    <br>
    <p align="left">Motivo: {{borrachin.Motivo}}</p>
    <p align="left">Latitud donde Empezo: {{borrachin.LongitudDondeEmpezo}}</p>
    <p align="left">Latitud donde empezo{{borrachin.LatitudDondeEmpezo}}</p>
    <p align="left">Fecha de Creacion:{{borrachin.createdAt}}</p>
    <button class="btn btn-danger" (click)="eliminarBorracho(borrachin,indice)"> Eliminar Borracho</button>
    <br><br>
  </div>
</div>
</div>

